@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>WEB_CRUD</h1>
    <h2>(Web implementation of creating updates and deleting information from the MySQL database)</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/vasekva/WEB_CRUD-C_SHARP.git">See project source code &raquo;</a></p>
    </div>
</div>